USE [peizhikanban]
GO
/****** Object:  Table [dbo].[vb_chart]    Script Date: 2020/5/15 16:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vb_chart](
	[vc_ID] [int] IDENTITY(1,1) NOT NULL,
	[vc_Code] [varchar](50) NOT NULL,
	[vc_pageCode] [varchar](50) NOT NULL,
	[vc_chartType] [varchar](50) NULL,
	[vc_width] [varchar](220) NULL,
	[vc_height] [varchar](220) NULL,
	[vc_Xaxis] [varchar](220) NULL,
	[vc_Yaxis] [varchar](220) NULL,
	[vc_data] [varchar](5000) NOT NULL,
	[vc_createTime] [varchar](220) NULL,
	[vc_updateTime] [varchar](220) NULL,
	[vc_creater] [varchar](50) NULL,
	[vc_ExParam1] [varchar](110) NULL,
	[vc_ExParam2] [varchar](200) NULL,
	[vc_ExParam3] [varchar](200) NULL,
	[vc_ExParam4] [varchar](200) NULL,
	[vc_ExParam5] [varchar](200) NULL,
	[vc_dataType] [varchar](200) NULL,
	[vc_whType] [varchar](50) NULL,
	[vc_title] [varchar](50) NULL,
	[vc_minX] [varchar](220) NULL,
	[vc_maxX] [varchar](220) NULL,
	[vc_showType] [varchar](220) NULL,
	[vc_namespace] [varchar](220) NULL,
	[vc_method] [varchar](220) NULL,
	[vc_params] [varchar](300) NULL,
	[vc_timer] [varchar](220) NULL,
	[vc_Percent] [varchar](220) NULL,
	[vc_LineTitle] [varchar](220) NULL,
	[vc_XUnit] [varchar](220) NULL,
	[vc_YUnit] [varchar](220) NULL,
	[vc_ExParam6] [varchar](220) NULL,
	[vc_ExParam7] [varchar](220) NULL,
	[vc_ExParam8] [varchar](220) NULL,
	[vc_ExParam9] [varchar](220) NULL,
	[vc_ExParam10] [varchar](220) NULL,
 CONSTRAINT [PK__chart_pa__1AEF00B4027D5126] PRIMARY KEY CLUSTERED 
(
	[vc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[vb_chart] ON 

SET IDENTITY_INSERT [dbo].[vb_chart] OFF
